.FeatureListing_mainContainer {
  padding: var(--section-container-padding);
  font-family: sans-serif;
  background-color: #fff;
  margin-bottom: var(--section-bootom-margin);
}

.section_text {
  text-align: center;
}

.carousel_container {
  margin-top: 70px;
  padding: 10px 25px 10px 25px;
  display: flex;
  column-gap: 50px;
  justify-content: center;
}

.carouselItem {
  /* margin: 10px 5px; */
  display: flex;
  justify-content: center;
}

/* Tablete Screen */
@media screen and (max-width: 950px) {
  .Project_container {
    justify-content: center;
  }
  .FeatureListing_mainContainer {
    padding: 100px 5%;
  }
}

/* Mobile Screen  */
@media screen and (max-width: 550px) {
}
