/* Home page About us Section start */
.HomePageAbout_mainContainer {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  row-gap: 15px;
}

.section_Title {
  font-size: 18px;
  font-family: sans-serif;
  padding: 10px;
  font-weight: 300;
}

.section_descreption {
  text-align: center;
  font-size: 16px;
  color: #7a7a7a;
  font-weight: 300;
  font-family: sans-serif;
  line-height: 1.4;
}

.HomePageAbout_btnBox {
  display: flex;
  justify-content: end;
  width: 100%;
}

.readMoreLink_style {
  color: #00aeff;
  background-color: transparent;
  border-color: #00aeff;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid #00aeff;
  padding: 10px 15px;
}

.readMoreLink_style:hover {
  background-color: #00aeff;
  color: #fff;
}

/* Home page About us Section End */

/* HomePageProjectTypeSection start */
.HomePageProjectTypeSection_mainContainer {
  background-color: #fff;
  background-image: url("../../../public/Company-logo/background-image.jpg");
  padding: 100px 10%;
  background-repeat: no-repeat;
  background-position: left;
}

.residention_Container {
  display: flex;
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 30px;
}

.residention_leftPart {
  width: 30%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.content_part {
  border: 1px solid green;
  height: 250px;
  width: 100%;
}

.regidencial_leftImageBox {
  border: 1px solid green;
  height: 200px;
  width: 100%;
}

.residention_RightPart {
  display: flex;
  border: 1px solid green;
  column-gap: 30px;
  row-gap: 30px;
  height: 500px;
}

.big_imagewrapper {
  border: 1px solid red;
  display: flex;
}

.Big_imageBox {
  border: 1px solid gray;
  height: 100%;
  width: 350px;
}

.small_image_container {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 350px;
}

.small_imageBox {
  border: 1px solid gray;
  height: 200px;
  width: 100%;
}

.commercial_container {
  display: flex;
  column-gap: 30px;
  border: 1px solid green;
}

.commercial_containerWrapper {
  width: 30%;
  display: flex;
  border: 1px solid blue;
  margin-bottom: 30px;
  height: 300px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.commercial_contentBox {
  width: 100%;
  border: 1px solid red;
  height: 100%;
}

.comercial_image_Container {
  display: flex;
  column-gap: 30px;
  row-gap: 30px;
  align-items: center;
}

.commercial_ImageBox {
  width: 350px;
  height: 200px;
  border: 1px solid red;
}

/* Tablete Screen */
@media screen and (max-width: 950px) {
  .residention_Container {
    flex-direction: column;
  }

  .residention_leftPart {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
  }

  .content_part {
    width: 80%;
    height: 200px;
  }

  .regidencial_leftImageBox {
    width: 80%;
    height: 200px;
  }

  .residention_RightPart {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    height: 700px;
  }

  .big_imagewrapper {
    width: 100%;
    justify-content: center;
    height: 200px;
  }
  .Big_imageBox {
    width: 80%;
    height: 200px;
    border: 2px solid green;
  }

  .small_image_container {
    border: 1px solid red;
    width: 80%;
  }

  .small_imageBox {
    width: 100%;
    height: 200px;
  }

  .commercial_container {
    flex-direction: column;
  }

  .comercial_image_Container {
    flex-direction: column;
  }

  .commercial_ImageBox {
    width: 80%;
  }

  .commercial_containerWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  .commercial_contentBox {
    width: 80%;
  }
}

/* Mobile Screen  */
@media screen and (max-width: 550px) {
}
