.aboutHero_section {
  padding: 100px;
  height: 250px;
  box-sizing: border-box;
  background-image: url("../../../public/Company-logo/about-us-banner.jpg");
  background-size: cover;
  color: #fff;
}

.abouthero_heading {
  font-size: 24px;
  letter-spacing: 1.5px;
}

.aboutus_wrapperConatiner {
  margin: 50px 5%;
}

.aboutUssection_container {
}

.AboutUsSection_headingBox {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
}

.AboutUsSection_detailsBox {
  font-size: 18px;
  line-height: 1.5;
}
