.aboutHero_section {
  padding: var(--sectionTwo-container-padding);
  height: 250px;
  box-sizing: border-box;
  background-image: url("../../../public/Company-logo/about-us-banner.jpg");
  background-size: cover;
  color: #fff;
}

.abouthero_heading {
  letter-spacing: 1.5px;
}

.aboutus_wrapperConatiner {
  padding: var(--sectionTwo-container-padding);
}

.aboutUssection_container {
}

.AboutUsSection_headingBox {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
}

.AboutUsSection_detailsBox {
  line-height: 1.5;
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
}
