.ModelBox_mainContainer {
  width: 100vw;
  height: 100vh;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.136);
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeModelBox {
  display: none;
}

.model_innerBox {
  width: 40%;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
}

.Model_ContentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.Model_headingBox {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.Model_msgBox {
  font-size: 18px;
  font-weight: 400;
}

.model_actionBox {
  padding: 10px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.Action_btnStyle {
  margin: 0px 10px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Tablete Screen */
@media screen and (max-width: 950px) {
  .model_innerBox {
    width: 90%;
  }
}

/* Mobile Screen  */
@media screen and (max-width: 550px) {
  .model_innerBox {
    width: 90%;
  }
}
