.form_Container {
  background: #f9f9f9;
  padding: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.form_heading {
  display: block;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.input_Box {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

.input_style {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin-bottom: 5px;
  padding: 5px;
  outline: none;
}

.btnStyle {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4caf50;
  color: #fff;
  margin: 0 0 5px;
  padding: 5px;
  font-size: 15px;
}
