.form_Container {
  background: var(--enquire-form-bg);
  padding: var(--enquire-form-padding);
  box-shadow: var(--side-enqurie-container-box-shadow);
}

.form_heading {
  display: block;
  font-size: 20px;
  font-weight: var(--font-weight300);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.input_Box {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

.input_style {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin-bottom: 5px;
  padding: 5px;
  outline: none;
}

.btnStyle {
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: var(--enqurie-form-btn-bg);
  color: #fff;
  margin: 0 0 5px;
  padding: 5px;
  font-size: 15px;
}
