.main_container {
  width: 100%;
  min-height: 800px;
}

.Blog_mainContainer {
  width: 100%;
  display: flex;
  padding: 50px 3%;
  justify-content: space-between;
}

.Blog_Container {
  width: 75%;
  height: 100%;
  display: flex;
  column-gap: 30px;
  row-gap: 30px;
  flex-wrap: wrap;
}

.formSide_container {
  width: 20%;
}

.form_section {
  padding: 5px;
}

/* Tablete Screen */
@media screen and (max-width: 950px) {
  .Blog_Container {
    width: 60%;
  }
  .formSide_container {
    width: 30%;
  }
}

/* Mobile Screen  */
@media screen and (max-width: 550px) {
  .Blog_mainContainer {
    flex-direction: column;
    row-gap: 30px;
    column-gap: 30px;
    padding: 50px 1%;
  }
  .Blog_Container {
    width: 100%;
    row-gap: 50px;
    column-gap: 50px;
  }

  .formSide_container {
    width: 100%;
  }
}
