.main_container {
  width: 100%;
  min-height: 800px;
  padding: var(--sectionTwo-container-padding);
}

.Blog_mainContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Blog_Container {
  width: 60%;
  height: 100%;
  display: flex;
  column-gap: 30px;
  row-gap: 30px;
  flex-wrap: wrap;
}

.formSide_container {
  width: 20%;
}

.form_section {
  padding: 5px;
}

.recent_BlogBox {
  margin-top: 20px;
  background-color: #fff;
}

.list_heading {
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 10px;
}

.SingleBlog_mainContainer {
  width: 100%;
  min-height: 600px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.featureImage_Container {
  width: 100%;
  height: 500px;
}

.feature_imageStyle {
  width: 100%;
  height: 100%;
}

.Blog_contentBox {
  padding: 30px;
}

.blog_titleBox {
  margin-bottom: 20px;
  font-size: 26px;
  font-family: var(--font-family-poppins);
  font-weight: 500;
}

.Blog_content {
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  text-decoration: none;
}

.Blog_Container a {
  text-decoration: none;
  font-weight: 400;
}
