.container {
  background-color: #fff;
  padding: var(--ten-main-padding);
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  flex-direction: row;
  z-index: 100;
}

.lefttBox {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}

.lefttBox .logoBox {
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
}

.rightBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.contactInfoBox {
  display: flex;
  /* border: 1px solid green; */
  height: 100%;
  align-items: center;
}

.iconBox {
  /* border: 1px solid red; */
  padding: 10px 7px;
  font-size: 26px;
  color: var(--primary-color);
}

.contactInformation {
  /* border: 1px solid red; */
  padding: 8px;
  font-size: 16px;
  font-family: sans-serif;
  color: var(--primary-color);
}

.mobileNumber {
  font-weight: 600;
}

/* socila_mediaBox */

.socila_mediaBox {
  display: flex;
  font-size: 22px;
  width: 30%;
  justify-content: space-between;
  color: var(--primary-color);
  font-weight: 200;
}

/* Tablete Screen */
@media screen and (max-width: 950px) {
  .container {
    display: none;
  }
  .lefttBox {
    display: none;
  }

  .rightBox {
    width: 100%;
  }
}

/* Mobile Screen  */
@media screen and (max-width: 550px) {
  .container {
    display: none;
  }
  .lefttBox {
    display: none;
  }

  .rightBox {
    width: 100%;
    flex-direction: column;
  }
  .socila_mediaBox {
    width: 100%;
    padding: 0px 20%;
  }
}
