.image_inputContainer {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.thumbileBox {
  width: 40%;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.image_uploadTitle {
  font-size: 16px;
}

.dynimic_form_Filedcontainer {
  display: flex;
  column-gap: 50px;
  row-gap: 20px;
  flex-wrap: wrap;
  font-family: sans-serif;
}

.static_form_filedContiner {
  display: flex;
  margin: 20px 0px;
  align-items: center;
  column-gap: 20px;
  flex-wrap: wrap;
  row-gap: 20px;
  font-family: sans-serif;
}

.Project_titleBox {
  width: 37%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 10px;
}

.project_TitletextInput {
  border: 1px solid #ddd;
  background-color: #f4f4f5;
  padding: 10px 7px;
  font-family: sans-serif;
  outline-color: #6d7a83;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
}

.form_radioBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  height: 105px;
}
.form_radio_TitleBox {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 5px;
  height: 100%;
  display: flex;
  align-items: end;
}

.radioBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}

.radio_optionBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  width: 100px;
  padding: 5px;
}

.form_optionBox {
  width: 20%;
}

.form_optionLableBox {
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.option_dropDownBox {
}
.option_select {
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
}

.project_formBox {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  row-gap: 10px;
}

.inputBox {
  display: flex;
  flex-direction: column;
}

.project_textInputLable {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 0px;
}

.project_textInput {
  border: 1px solid green;
  border: 1px solid #ddd;
  background-color: #f4f4f5;
  padding: 10px 7px;
  font-family: sans-serif;
  outline-color: #6d7a83;
  font-size: 16px;
  border-radius: 5px;
}

.btn {
  background-color: red;
  padding: 5px;
  margin: 10px 0px;
}

.error {
  color: red;
}

/* Tablete Screen */
@media screen and (max-width: 950px) {
  .image_inputContainer {
    flex-direction: column;
    column-gap: 10px;
    row-gap: 20px;
  }

  .thumbileBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80px;
    flex-wrap: wrap;

    align-items: flex-start;
    padding: 10px 0px;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
}

/* Mobile Screen  */
@media screen and (max-width: 550px) {
}
