.FeatureListing_mainContainer {
  padding: 100px 10%;
  font-family: sans-serif;
}

.section_text {
  text-align: center;
}

.section_text h3 {
  font-size: 26px;
  font-weight: 400;
}

.section_text p {
  font-size: 16px;
  color: rgb(137, 137, 137);
}

.Project_container {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
